<ion-header>
  <ion-toolbar>
    <ion-title>Perfil profesional</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="d-flex-center">

    <!-- Imagen de perfil -->
    <img [src]="selectedImagePreview || user.imgprofile || 'assets/icon/profile-img.png'" class="profile-img"
      alt="Foto de perfil" />

    <!-- Seleccionar nueva imagen -->
    <input type="file" accept="image/*" #fileInput hidden (change)="onFileSelected($event)" />
    <ion-button fill="outline" size="small" (click)="fileInput.click()">Cambiar foto</ion-button>

    <!-- Subir imagen -->
    <ion-button *ngIf="selectedImage" class="btn-primary" size="small" (click)="uploadProfileImage()">
      Subir imagen
    </ion-button>

    <!-- Nombre y correo -->
    <h2 class="profile-name">{{ user.first_name }} {{ user.last_name }}</h2>
    <p class="profile-email">{{ user.email }}</p>

    <!-- Modo edición -->
    <ion-button class="btn-primary" expand="block" (click)="editMode = !editMode">
      {{ editMode ? 'Cancelar edición' : 'Editar perfil' }}
    </ion-button>

    <!-- Formulario de edición -->
    <form *ngIf="editMode" (ngSubmit)="saveEdit()" class="auth-form">
      <app-custom-input [control]="getEditControl('first_name')" icon="person-outline" label="Nombre" type="text">
      </app-custom-input>

      <app-custom-input [control]="getEditControl('last_name')" icon="person-outline" label="Apellido" type="text">
      </app-custom-input>

      <ion-button class="btn-primary" expand="block" type="submit">
        Guardar cambios
      </ion-button>
    </form>

    <!-- Opciones adicionales -->
    <ion-button class="btn-primary" expand="block" color="tertiary" (click)="confirmChangePassword()">
      Cambiar contraseña
    </ion-button>
  </div>
</ion-content>