<app-header title="Login"></app-header> 
<ion-content>

<div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
        <app-logo></app-logo>
        <app-custom-input
         autocomplete="email"
         icon="mail-outline"
         [control]="form.controls.email"
         type="email"
         label="Correo">
        </app-custom-input>

        <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
            <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
            <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo valido</div>
        </div>

        <app-custom-input
        [control]="form.controls.password"
        icon="lock-closed-outline"
        type="password"
        label="Contraseña"
        >
    </app-custom-input>

    <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
    </div>

    <ion-button expand="block" class="btn-primary">
        Iniciar sesión
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>

    <p routerLink="forgot-password" class="ion-text-end">Recuperar contraseña</p>

    </form>

</div>




</ion-content>
