.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.video-wrapper {
  position: relative;
  width: 48%;
  max-width: 640px;
  background-color: black;
  border-radius: 12px;
  overflow: hidden;
}

video,
.video-wrapper > div {
  width: 100%;
  height: 100%;
}

.label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  opacity: 0.6;
}

.selector {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  align-items: center;
}
