<ion-header>
  <ion-toolbar>
    <ion-title>Perfil profesional</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="profile-container">
    <div class="profile-inner">
      <!-- Header del perfil -->
      <div class="profile-header">
        <img src="assets/icon/profile-img.png" class="profile-avatar" />

        <!--Datos del profesional y rating (hard coded por mientras (04-26))-->
        <div class="profile-info">
          <h2 class="profile-name">{{ professional.first_name }} {{ professional.last_name }}</h2>
          <p class="profile-specialty"><ion-icon name="people-circle-outline"></ion-icon> Psicólogo</p>
          <p class="profile-specialty"><ion-icon name="calendar-outline"></ion-icon> {{ professional.datebirth | date:
            'dd/MM/yyyy' }} </p>
          <p class="profile-specialty"><ion-icon name="transgender-outline"></ion-icon> {{ professional.genderName }}</p>
          <div class="profile-rating">
            <ion-icon name="star" class="star-icon"></ion-icon>
            <ion-icon name="star" class="star-icon"></ion-icon>
            <ion-icon name="star" class="star-icon"></ion-icon>
            <ion-icon name="star" class="star-icon"></ion-icon>
            <ion-icon name="star-outline" class="star-icon"></ion-icon>
          </div>
        </div>
      </div>

      <!-- Botón de agendar -->
      <div class="appointment-button-wrapper">
        <ion-button expand="block" class="appointment-button" (click)="goToNewAppointment()">
          Ver disponibilidad
        </ion-button>
      </div>

      <!-- Contacto-->
      <h4 class="section-title">Contacto</h4>
      <div class="profile-description">
        <div class="metric">
          <p class="metric-number">{{ professional.Register?.email }}</p>
          <p class="metric-label">Correo</p>
        </div>
        <div class="metric">
          <p class="metric-number">99999999</p>
          <p class="metric-label">Télefono</p>
        </div>
      </div>

      <!-- Descripción profesional -->
      <h4 class="section-title">Acerca de</h4>
      <div class="profile-about">
        <p class="contact-text">Antecedentes académicos</p>

        <div class="profile-contact">
          <ion-icon name="location-outline" class="contact-icon"></ion-icon>
          <span class="metric-label">
            Eva Surbhi complex, Aksharwadi road Bhavnagar
          </span>
        </div>

        <p class="contact-text">Experiencia profesional</p>
        <div class="profile-contact">
          <ion-icon name="location-outline" class="contact-icon"></ion-icon>
          <span class="metric-label">Eva Surbhi complex, Aksharwadi road Bhavnagar</span>
        </div>
      </div>
    </div>
  </div>
</ion-content>