<app-header title="Videollamada"></app-header>

<div *ngIf="showMessage" class="feedback-message">
  {{ messageText }}
</div>

<ion-content class="ion-padding call-container">
  <div class="video-stack">

    <div class="video-card local">
      <span class="overlay">
        {{ role === 'patient' ? 'Paciente' : 'Profesional' }}
      </span>
      <div #publisherContainer></div>
    </div>

    <!-- Contenedor de video remoto -->
    <div class="video-card remote">
      <span class="overlay">
        {{ role === 'patient' ? 'Profesional' : 'Paciente' }}
      </span>
      <div #subscriberContainer></div>
    </div>

  </div>

  <!-- Botón para finalizar la llamada -->
  <div class="floating-controls">
    <ion-button fill="solid" color="light" shape="round" (click)="toggleMute()">
      <ion-icon [name]="muted ? 'mic-off' : 'mic'" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="solid" color="light" shape="round" (click)="toggleSpeaker()">
      <ion-icon [name]="isSpeakerOn ? 'volume-high' : 'headset'" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="solid" color="danger" shape="round" (click)="endCall()">
      <ion-icon name="call" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="solid" color="light" shape="round" (click)="toggleCamera()">
      <ion-icon [name]="videoOff ? 'videocam-off' : 'videocam'" slot="icon-only"></ion-icon>
    </ion-button>
    <ion-button fill="solid" color="light" shape="round" (click)="openChat()">
      <ion-icon name="chatbubble-ellipses-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

</ion-content>