<ion-header>
  <ion-toolbar>
    <ion-title>Agregar disponibilidad</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <ion-item lines="none">
      <ion-label position="stacked">Hora disponible</ion-label>
      <ion-datetime
        [(ngModel)]="selectedTime"
        presentation="time"
        placeholder="Selecciona una hora">
      </ion-datetime>
    </ion-item>

    <ion-button expand="block" (click)="addHour()">Agregar hora</ion-button>

    <div *ngIf="selectedHours.length > 0" class="hour-list">
      <ion-chip *ngFor="let hour of selectedHours" color="primary" outline>
        {{ hour }}
        <ion-icon name="close-circle" (click)="removeHour(hour)"></ion-icon>
      </ion-chip>
    </div>

    <ion-button expand="block" (click)="saveAvailability()" [disabled]="selectedHours.length === 0">
      Guardar
    </ion-button>
  </div>
</ion-content>
