<app-header [showBackButton]="false" title="Inicio"></app-header>

<ion-content class="main-content">
    <div class="container">

        <app-logo></app-logo>

        <h2 class="title fade-in delay-1">¡Aún no tienes citas agendadas!</h2>

        <p class="description fade-in delay-2">
            Agenda una sesión con nuestros <strong>profesionales</strong> y comienza tu camino hacia el bienestar.
        </p>

        <ion-button expand="block" class="btn-primary fade-in delay-3" routerLink="/menu/book-appointment">
            Agendar ahora
        </ion-button>

    </div>
</ion-content>