<app-header title="Restablecer contraseña"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">

      <app-logo></app-logo>

      <!-- Nueva contraseña -->
      <app-custom-input type="password" label="Nueva contraseña" icon="lock-closed-outline" [control]="newPassword">
      </app-custom-input>

      <div class="validators" *ngIf="newPassword.errors && newPassword.touched">
        <div *ngIf="newPassword.errors?.['required']">La contraseña es requerida</div>
      </div>

      <!-- Confirmar contraseña -->
      <app-custom-input type="password" label="Confirmar contraseña" icon="lock-closed-outline"
        [control]="confirmPassword">
      </app-custom-input>

      <div class="validators" *ngIf="confirmPassword.errors && confirmPassword.touched">
        <div *ngIf="confirmPassword.errors?.['required']">Debe confirmar la contraseña</div>
      </div>

      <div class="validators" *ngIf="form.errors?.['passwordsMismatch'] && form.touched">
        <div>Las contraseñas no coinciden</div>
      </div>
      <p></p>
      <!-- Botón de envío -->
      <ion-button expand="block" type="submit" style="--background: #6b47dc; --color: white;" [disabled]="form.invalid">
        Guardar nueva contraseña
        <ion-icon slot="end" name="checkmark-outline"></ion-icon>
      </ion-button>

    </form>
  </div>

  <ion-text color="success" *ngIf="success">
    Contraseña actualizada con éxito. Serás redirigido al inicio de sesión...
  </ion-text>
  
  <ion-text color="danger" *ngIf="errorMessage">
    {{ errorMessage }}
  </ion-text>

</ion-content>