<app-header title="Gestión de usuarios" [showBackButton]="false"></app-header>

<ion-content>

  <ion-searchbar placeholder="Buscar usuario..." [(ngModel)]="searchText" (ionInput)="nameFilter()">
  </ion-searchbar>

  <div class="d-flex-center auth-form">
    <div class="content-wrapper">

      <ion-segment [(ngModel)]="viewType" (ionChange)="changeView(viewType)">
        <ion-segment-button value="professionals">
          Profesionales
        </ion-segment-button>
        <ion-segment-button value="basics">
          Usuarios básicos
        </ion-segment-button>
      </ion-segment>

      <!-- Loading Spinner -->
      <div *ngIf="loading" class="loading-wrapper">
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </div>

      <!-- Lista de usuarios -->
      <div class="user-list" *ngIf="!loading && users.length > 0">
        <div class="user-card" *ngFor="let user of filteredUsers">
          <div class="card-avatar">
            <img [src]="user.imgprofile || 'assets/icon/profile-img.png'" />
          </div>

          <div class="user-info">
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p><strong>Email:</strong> {{ user.Register?.email }}</p>
            <p *ngIf="user.datebirth"><strong>Fecha nacimiento:</strong> {{ user.datebirth | date: 'dd/MM/yyyy' }}</p>
            <p><strong>Género:</strong> {{ user.genderName }}</p>
            <p *ngIf="viewType === 'professionals'"><strong>Aprobado:</strong> {{ user.approve === 1 ? 'Sí' : 'No' }}
            </p>
          </div>

          <div class="user-actions">
            <ion-button fill="solid" color="tertiary" class="eval-button" (click)="openEditModal(user)">
              <ion-icon name="search-outline" slot="start"></ion-icon>
              Ver perfil
            </ion-button>

            <ion-button fill="solid" color="danger" class="eval-button" (click)="confirmDeleteAccount(user)">
              <ion-icon name="close-circle-outline" slot="start"></ion-icon>
              Desactivar perfil
            </ion-button>
          </div>
        </div>
      </div>

      <!-- Mensaje cuando no hay usuarios -->
      <div *ngIf="!loading && users.length === 0" class="no-data">
        <p *ngIf="viewType === 'professionals'">No hay profesionales disponibles.</p>
        <p *ngIf="viewType === 'basics'">No hay usuarios básicos disponibles.</p>
      </div>
    </div>
  </div>

  <ion-loading [isOpen]="deleteWrapper" message="Eliminando cuenta..." spinner="crescent" translucent
    backdropDismiss="false">
  </ion-loading>
</ion-content>