<app-header title="Registro"></app-header>
<ion-content>

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>

      <!-- Nombres -->
      <app-custom-input
        [control]="getFormControl('firstName')"
        icon="person-outline"
        label="Nombres"
        type="text"
        autocomplete="given-name">
      </app-custom-input>
      <div class="validators" *ngIf="getFormControl('firstName').errors && getFormControl('firstName').touched">
        <div *ngIf="getFormControl('firstName').errors?.['required']">Este campo es requerido</div>
      </div>

      <!-- Apellidos -->
      <app-custom-input
        [control]="getFormControl('lastName')"
        icon="person-outline"
        label="Apellidos"
        type="text"
        autocomplete="family-name">
      </app-custom-input>
      <div class="validators" *ngIf="getFormControl('lastName').errors && getFormControl('lastName').touched">
        <div *ngIf="getFormControl('lastName').errors?.['required']">Este campo es requerido</div>
      </div>

      <!-- Identidad Nacional -->
      <app-custom-input
        [control]="getFormControl('nationalId')"
        icon="id-card-outline"
        label="Identidad Nacional"
        type="text"
        autocomplete="off">
      </app-custom-input>
      <div class="validators" *ngIf="getFormControl('nationalId').errors && getFormControl('nationalId').touched">
        <div *ngIf="getFormControl('nationalId').errors?.['required']">Este campo es requerido</div>
        <div *ngIf="getFormControl('nationalId').errors?.['minlength']">Debe tener al menos 6 caracteres</div>
      </div>

      <!-- Fecha de nacimiento -->
      <ion-item lines="none" class="custom-input">
        <ion-icon slot="start" name="calendar-outline"></ion-icon>
        <ion-datetime
          formControlName="birthDate"
          placeholder="Selecciona tu fecha de nacimiento"
          presentation="date"
          display-format="DD/MM/YYYY"
          value-format="YYYY-MM-DDTHH:mm:ssZ"
          locale="es-ES"
          color="primary"
          cancel-text="Cancelar"
          done-text="Aceptar"
        ></ion-datetime>
      </ion-item>
      
      <div class="validators" *ngIf="getFormControl('birthDate').invalid && getFormControl('birthDate').touched">
        <div *ngIf="getFormControl('birthDate').errors?.['required']">Este campo es requerido</div>
      </div>

      <!-- Género -->
      <app-custom-select
        [control]="getFormControl('gender')"
        icon="transgender-outline"
        label="Género"
        [options]="[
          { label: 'Masculino', value: '1' },
          { label: 'Femenino', value: '2' },
          { label: 'Prefiero no decirlo', value: '3'} 
        ]">
      </app-custom-select>
      <div class="validators" *ngIf="getFormControl('gender').errors && getFormControl('gender').touched">
        <div *ngIf="getFormControl('gender').errors?.['required']">Este campo es requerido</div>
      </div>

      <!-- Email -->
      <app-custom-input
        [control]="getFormControl('email')"
        icon="mail-outline"
        label="Correo"
        type="email"
        autocomplete="email">
      </app-custom-input>
      <div class="validators" *ngIf="getFormControl('email').errors && getFormControl('email').touched">
        <div *ngIf="getFormControl('email').errors?.['required']">El correo es requerido</div>
        <div *ngIf="getFormControl('email').errors?.['email']">Ingrese un correo válido</div>
      </div>

      <!-- Contraseña -->
      <app-custom-input
        [control]="getFormControl('password')"
        icon="lock-closed-outline"
        label="Contraseña"
        type="password">
      </app-custom-input>
      <div class="validators" *ngIf="getFormControl('password').errors && getFormControl('password').touched">
        <div *ngIf="getFormControl('password').errors?.['required']">La contraseña es requerida</div>
      </div>

      <!-- Confirmar Contraseña -->
      <app-custom-input
        [control]="getFormControl('confirmPassword')"
        icon="lock-closed-outline"
        label="Confirmar contraseña"
        type="password">
      </app-custom-input>
      <div class="validators" *ngIf="form.errors?.['passwordsMismatch'] && getFormControl('confirmPassword').touched">
        <div>Las contraseñas no coinciden</div>
      </div>

      <!-- Botón -->
      <ion-button expand="block" type="submit" [disabled]="form.invalid">
        Registrarse
      </ion-button>

    </form>
  </div>

</ion-content>
