<ion-content class="main-content">
  <div class="container">

    <app-logo class="logo fade-in delay-1"></app-logo>

    <h1 class="title fade-in delay-2">Conectando mentes, transformando personas</h1>

    <p class="description fade-in delay-3">
      HealthBook será tu herramienta digital de salud que te ayudará a conectar y organizar tus citas psicológicas, ofreciendo un espacio organizado y seguro tanto para profesionales como para pacientes en su camino hacia el bienestar emocional con todas tus necesidades en un solo lugar.
    </p>

    <div class="fade-in delay-4">
      <ion-button expand="block" class="btn-primary" routerLink="/auth">
        Iniciar sesión
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
    </div>

    <div class="fade-in delay-5">
      <ion-button expand="block" fill="outline" class="btn-secondary" routerLink="/auth/sign-up">
        Crear mi cuenta
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </div>

  </div>
</ion-content>
