<ion-content class="main-content">
  <div class="container">

    <img src="/assets/icon/healthbook_logo2.png" alt="HealthBook Logo" class="logo" />

    <h1 class="title">Una plataforma de salud integral</h1>

    <p class="description">
      HealthBook será tu herramienta principal de salud que te ayudará a gestionar todas tus necesidades en un solo lugar de forma simple y segura.
    </p>

    <ion-button expand="block" class="btn-primary" routerLink="/auth">
      Iniciar sesión
      <ion-icon slot="end" name="log-in-outline"></ion-icon>
    </ion-button>

    <ion-button expand="block" fill="outline" class="btn-secondary" routerLink="/auth/sign-up">
      Crear mi cuenta
      <ion-icon slot="end" name="person-add-outline"></ion-icon>
    </ion-button>

  </div>
</ion-content>
