<app-header title="Mi perfil" [showBackButton]="false" ></app-header>

<ion-content>
  <div class="profile-container">

    <ion-avatar class="avatar-circle">
      <img [src]="user.imgprofile || 'assets/icon/profile-img.png'" alt="Avatar">
    </ion-avatar>

    <ion-button fill="outline" size="small" class="change-photo-btn" disabled>
      Cambiar foto
    </ion-button>

    <h3 class="section-title">Mi cuenta</h3>

    <div class="auth-form">
      <!-- Correo bloqueado inicialmente -->
      <app-custom-input
        [(ngModel)]="user.email"
        name="email"
        icon="mail-outline"
        label="Correo"
        [readonly]="!editEmail">
      </app-custom-input>

      <ion-button fill="clear" size="small" color="primary" (click)="toggleEditEmail()">
        {{ editEmail ? 'Bloquear correo' : 'Editar correo' }}
      </ion-button>

      <!-- Contraseña estilo input bloqueado -->
      <app-custom-input
        icon="lock-closed-outline"
        label="Contraseña"
        [readonly]="true"
        [type]="'password'"
        [placeholder]="'••••••••••••'">
      </app-custom-input>

      <ion-button fill="clear" size="small" color="primary" (click)="confirmChangePassword()">
        Cambiar contraseña
      </ion-button>

      <ion-item lines="none">
        <ion-label>Notificaciones</ion-label>
        <ion-toggle [(ngModel)]="notifications"></ion-toggle>
      </ion-item>

      <ion-button expand="block" color="primary" (click)="submit()">
        Guardar cambios
      </ion-button>

      <ion-button expand="block" color="danger" disabled>
        Eliminar mi cuenta
      </ion-button>
    </div>
  </div>
</ion-content>
