<app-header title="Mi perfil"></app-header>
<ion-content class="main-content">

  <div class="upper-part">
    <div class="avatar-section">
      <ion-avatar class="avatar-image">
        <img [src]="avatarUrl" alt="Avatar" />
      </ion-avatar>
      <input type="file" accept="image/*" hidden #fileInput (change)="onImageSelected($event)" />
      <ion-button class="change-avatar-button" size="small" fill="outline" (click)="fileInput.click()">
        Cambiar foto
      </ion-button>
    </div>

    <!-- Título estático -->
    <div class="title">Mi cuenta</div>
  </div>

  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <app-custom-input [control]="getFormControl('email')" icon="mail-outline" label="Correo" type="email" autocomplete="email">
        correo"&#64;"correo.com
      </app-custom-input>

      <app-custom-input [control]="getFormControl('password')" icon="lock-closed-outline" label="Contraseña" type="password">
      </app-custom-input>

      <app-custom-input [control]="getFormControl('confirmPassword')" icon="lock-closed-outline" label="Confirmar contraseña" type="password">
      </app-custom-input>

      <ion-item class="notification">
        <ion-label>Notificaciones</ion-label>
        <ion-toggle formControlName="notifications" class="custom-toggle"></ion-toggle>
      </ion-item>

      <div class="button-group">
        <ion-button class="btn-primary" expand="block" type="submit" [disabled]="form.invalid">
          Guardar cambios
        </ion-button>

        <ion-button class="btn-danger" expand="block" type="submit">
          Eliminar mi cuenta
        </ion-button>
      </div>
    </form>
  </div>

</ion-content>
